<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="restart-httpd.ZPM">
    <Module>
      <Name>restart-httpd</Name>
      <Version>1.0.1</Version>
      <Description>Restart httpd for SMP</Description>
      <Keywords>SMP, SysAdmin</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="zhttpRestart.MAC"/>
    </Module>
  </Document>
</Export>
